doctype html
html
  head
    title= 'Cards Online'
  body
    div(id='app')
    script window.__PRELOADED_STATE__ = {global: {currentUser: !{user}, cardpacks: !{cardpacks}}, home: {friends: !{friends}, requestsSent: !{requestsSent}, requestsReceived: !{requestsReceived}}, game: !{game}}
    script(src='bundle.js')